{% extends "base.html" %}
{% load static %}
{% block content%}



<section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter="*"  class="active">All Meetings</li>
                  {% for cat in categories %}
                  
                  <li data-filter=".{{cat.pk}}">{{cat.name}}</li>

                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                {% for course in courses %}
                <div class="col-lg-4 templatemo-item-col all {{course.category.pk}}">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>{{course.price}}</span>
                      </div>
                      <a href="{% url "galaktika:course_detail" course.pk %}"><img src="{{course.get_img}}" alt=""></a>
                    </div>
                    <div class="down-content">
                     
                      <a href="{% url "galaktika:course_detail" course.pk %}"><h4>{{course.name}}</h4></a>
                      <p>{{course.about|truncatewords:20}}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
 


  {% endblock %}