{% extends "base.html" %}
{% load static %}


{% block content%}
<section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  
                  <div class="date">
                    <h6>{{content.date.year}}-{{content.date.month}} <span>{{content.date.day}}</span></h6>
                  </div>
                  <img src="{{content.get_img}}" alt="">
                </div>
                <div class="down-content">
                  <h4>{{content.title}}</h4>
                  <p>{{content.fillial}}</p>
                  <p>{{content.content}}</p>
                 
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{% url "galaktika:contact" %}">Yozilish</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
{% endblock %}